@model IEnumerable<Packer_v2.Models.Dtbase>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DbIp.NmIp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NmDatabase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDev)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DbIp.NmIp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NmDatabase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDev)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdDtbase }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdDtbase }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdDtbase })
        </td>
    </tr>
}

</table>
