@model Packer_v2.Models.Folder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Folder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NmFolder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NmFolder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeFolder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeFolder)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdFolder }) |
    @Html.ActionLink("Voltar", "Index")
</p>
