@model Packer_v2.Models.Solution

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Solution</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.NmProject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.NmProject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeSolution.NmTypeSolution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeSolution.NmTypeSolution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NmSolution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NmSolution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeSolution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeSolution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DevPathFrontEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DevPathFrontEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DevPathWcf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DevPathWcf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtRegister)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtRegister)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtLastModification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtLastModification)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
