@model IEnumerable<Packer_v2.Models.ProjectTypeIntegration>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Project.NmProject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeSolution.NmTypeSolution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NmTypeIntegration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeIntegration)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Project.NmProject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeSolution.NmTypeSolution)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NmTypeIntegration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeIntegration)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdProjectTypeIntegration }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdProjectTypeIntegration }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdProjectTypeIntegration })
        </td>
    </tr>
}

</table>
