@model Packer_v2.Models.DefaultWayType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DefaultWayType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeSolution.NmTypeSolution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeSolution.NmTypeSolution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WayType.NmProject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WayType.NmProject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NmDefaultWayPatch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NmDefaultWayPatch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefaultWayPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefaultWayPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemoteIp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemoteIp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdDefaultWayType }) |
    @Html.ActionLink("Back to List", "Index")
</p>
