@model Packer_v2.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Solution.NmSolution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solution.NmSolution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtRegister)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtRegister)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtLastModification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtLastModification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NmTicket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NmTicket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeTicket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeTicket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeNote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeImpact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeImpact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeRiskOfNotDoing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeRiskOfNotDoing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeRiskOfDoing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeRiskOfDoing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeContingency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeContingency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DePrerequisites)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DePrerequisites)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeUnavailability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeUnavailability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeRuntime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeRuntime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTicket }) |
    @Html.ActionLink("Voltar", "Index")
</p>
