@model Packer_v2.Models.TypeIntegration

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TypeIntegration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NmTypeIntegration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NmTypeIntegration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsOmni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOmni)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTypeIntegration }) |
    @Html.ActionLink("Back to List", "Index")
</p>
