@model IEnumerable<Packer_v2.Models.TypeIntegration>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NmTypeIntegration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsOmni)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NmTypeIntegration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsOmni)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdTypeIntegration }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IdTypeIntegration }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.IdTypeIntegration })
        </td>
    </tr>
}

</table>
