@model Packer_v2.Models.PackageViewModel


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Query.IsActive)
        </th>
        <th>
            <label>Database</label>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Query.NmSqlObject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Query.IdSqlItenType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Query.IdSqlComandType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Query.NmFile)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Querys.Where(x => x.IdTicket == Model.Ticket.IdTicket))
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.IsActive)
    </td>

    @*<td>
             @Html.DropDownListFor(model => model.IdDtbase, Model.GetDatabasesBySolution(Model.IdSolution.GetValueOrDefault(0)).OrderBy(o => o.FullNmDatabase).Select(x => new SelectListItem
        {
            Value = x.IdDtbase.ToString(),
            Text = x.FullNmDatabase
        }), "Selecione", new { @class = "form-control", @required = "required", @value = "0", @Id = "IdDtbase" + item.IdQuery })
         </td>*@
<td>

    @*@Model.GetDtbase(item.IdDtBase)*@

    @Model.GetDtbase(item.IdDtBase).FullNmDatabase
    @*@Html.DisplayFor(modelItem => item.IdDtBase)*@
</td>

    <td>
        @Html.DisplayFor(modelItem => item.NmSqlObject)
    </td>

    <td>
        @Model.GetSqlItenTypes().Where(x => x.IdSqlItenType == item.IdSqlItenType).Select(x => x.NmSqlItenType).FirstOrDefault()

    </td>
    <td>
        @Model.GetSqlComandTypes().Where(x => x.IdSqlComandType == item.IdSqlComandType).Select(x => x.NmSqlComandType).FirstOrDefault()
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NmFile)
    </td>
    <td>
        @*@Html.ActionLink("Edit", "Edit", new { id = item.IdQuery }) |
            @Html.ActionLink("Details", "Details", new { id = item.IdQuery }) |*@
        @Html.ActionLink("Delete", "Delete", new { id = item.IdQuery })
    </td>
</tr>
    }

</table>
