@model Packer_v2.Models.PackageViewModel

@{
    ViewBag.Title = "Insert Package";
}

<h2>Novo Pacote</h2>

<div class="panel-body">

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <label>* EPS</label>
                @Html.DropDownListFor(model => model.IdEps, Model.EpsList.OrderBy(o => o.NmEps).Select(x => new SelectListItem
           {
               Value = x.IdEps.ToString(),
               Text = x.NmEps
           }), "Selecione", new { @class = "form-control", @required = "required" })
            </div>

            <div class="col-md-3">
                <label>* Project</label>
                <div id="divGetProjectsByEps">
                    @Html.Partial("_GetProjectsByEpsDropDownList")
                </div>
            </div>

            <div class="col-md-3">
                <label>* Solution</label>
                <div id="divGetSolutionsByProject">
                    @Html.Partial("_GetSolutionsByProjectDropDownList")
                </div>
            </div>

        </div>

        <div class="row"></div>

        <div id="divTicket">

            <div class="row">
                <div class="col-md-3">
                    <label>Ticket</label>
                </div>
                <div class="col-md-5">


                </div>
            </div>
            <div class="row">

                <div id="divIdTicket" style="display: none;">
                    @Html.Partial("_IdTicket")
                </div>
            </div>

            <div class="row">

                <div class="col-md-3">
                    <label>* Status do Pacote</label>
                    @Html.DropDownListFor(model => model.Ticket.IdStatus, Model.StatusList.OrderBy(o => o.NmStatus).Select(x => new SelectListItem
                                   {
                                       Value = x.IdStatus.ToString(),
                                       Text = x.NmStatus
                                   }), "Selecione", new { @class = "form-control", @required = "required" })

                    @Html.ValidationMessageFor(model => model.Ticket.IdStatus, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-3">
                    @Html.LabelFor(model => model.Ticket.TicketLink, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.Ticket.TicketLink, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ticket.TicketLink, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-3">
                    @Html.LabelFor(model => model.Ticket.NmTicket, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.Ticket.NmTicket, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ticket.NmTicket, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">

                <div class="col-md-3">
                    @Html.LabelFor(model => model.Ticket.DeTicket, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.Ticket.DeTicket, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ticket.DeTicket, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-3">
                    @Html.LabelFor(model => model.Ticket.DeNote, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.Ticket.DeNote, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ticket.DeNote, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-3">
                    @Html.LabelFor(model => model.Ticket.DeImpact, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.Ticket.DeImpact, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ticket.DeImpact, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Ticket.DeRiskOfNotDoing, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.Ticket.DeRiskOfNotDoing, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ticket.DeRiskOfNotDoing, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-3">
                    @Html.LabelFor(model => model.Ticket.DeRiskOfDoing, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.Ticket.DeRiskOfDoing, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ticket.DeRiskOfDoing, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-3">
                    @Html.LabelFor(model => model.Ticket.DeContingency, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.Ticket.DeContingency, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ticket.DeContingency, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Ticket.DePrerequisites, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.Ticket.DePrerequisites, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ticket.DePrerequisites, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-3">
                    @Html.LabelFor(model => model.Ticket.DeUnavailability, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.Ticket.DeUnavailability, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ticket.DeUnavailability, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-3">
                    @Html.LabelFor(model => model.Ticket.DeRuntime, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.Ticket.DeRuntime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ticket.DeRuntime, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

        <div class="row"></div>

        <div class="row">
            @ViewBag.MsgSavePackage
            <input type="submit" name="submit" id="SavePackage" value="Salvar Ticket" class="btn btn-danger btn-group-justified" />
        </div>

        <div class="row">
            <div class="col-md-5">
                <label>Selecione os itens do seu Pacote:</label>
                <div>
                    @Html.CheckBoxFor(x => x.HasSqlScripts, new { @checked = "checked", @class = "form-check-input", @id = "HasSqlScripts" })
                    <label> Querys</label>
                </div>

                @*<div>
                    @Html.CheckBoxFor(x => x.HasSqlScripts, new { @checked = "checked", @class = "form-check-input", @id = "HasSqlScripts" })
                    <label> Itens de App</label>
                    </div>*@
            </div>
        </div>

        <div id="divHasSQL" style="display: none;">
            <div class="row">


                <div class="row">

                    @*<div class="col-md-3">
                            <label>Scripts SQL</label>
                            <div id="divGetDatabasesBySolution">
                                @Html.Partial("_GetDatabasesBySolutionDropDownList")
                            </div>
                        </div>*@

                    <div class="col-md-3">
                        <label> </label>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Inserir Querys</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label>* QuerysList</label>
                        <div id="divGetQuerysList">
                            @Html.Partial("_GetQuerysList")
                        </div>
                    </div>


                </div>
            </div>
        </div>



    </div>

    <div class="col-md-3">
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">

                    <label>Adicionar Scripts SQL</label>
                    <div class="row">
                        <div class="col-md-9">
                            <table class="table table-striped">
                                <tr>
                                    <td>Arquivo : </td>
                                    <td><input type="file" id="File" name="File" multiple /></td>
                                    <td>&nbsp;</td>
                                    <td><input type="submit" name="submit" id="Files" value="Enviar Arquivo" /></td>
                                </tr>
                                <tr><td>@ViewBag.Mensage</td></tr>
                            </table>

                            <label>Scripts SQL</label>
                            <div id="ErrorSqlMensage">
                                <b style="color:goldenrod">@ViewBag.SaveSqlMensage</b>
                            </div>

                            <div id="divGetQuerys"></div>

                            <input type="submit" name="submit" id="SaveFiles" value="Salvar" />
                        </div>


                    </div>


                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script type="text/javascript">

        //var form = $("#form");
        //var registerForm = new RegisterForm(form);
        //registerForm.urlSave = "/Package/SavePackage";
        //registerForm.urlDelete = "/Package/DeletePackage"

        var files = 0;

        blockAllFields();
        ticketChange();

        /*Click Event*/
        $(document).on('click', '#Files', function () {
            //console.log("clicou Files");
            getQuerys();
        });

        $(document).on('click', '#SaveFiles', function () {
            //console.log("clicou SaveFiles");
            saveQuerys();
        });

        $(document).on('click', '#SavePackage', function () {
            //console.log("clicou Savar Pacote");
            savePackage();
        });

        /*Change Event*/
        $(document).on('change', '#IdEps', function () {
            let idEps = $("#IdEps").val();
            getProjectsByEps(idEps);
            var select = false;
            if (idEps == "")
                select = true;
            controlerFields(select, 'IdProject');
        });

        $(document).on('change', '#IdProject', function () {
            let idProject = $("#IdProject").val();
            getSolutionsByProject(idProject);
            var select = false;
            if (idProject == "")
                select = true;
            controlerFields(select, 'Ticket_IdSolution');
        });

        $(document).on('change', '#Ticket_IdSolution', function () {
            let idSolution = $("#Ticket_IdSolution").val();
            //var select = false;
            //if (idSolution == "")
            //    select = true;
            //controlerFields(select, 'HasSqlScripts');
        });

        $("#HasSqlScripts").change(function () {
            let hasSqlScriptsCheck = $('#HasSqlScripts').is(':checked');
            showDivHasChecked(hasSqlScriptsCheck, 'divHasSQL');
        });


        /*Other Functions*/
        function ticketChange() {
            let Ticket_IdTicket = $("#Ticket_IdTicket").val();

            if ( parseInt(Ticket_IdTicket) > 0) {
            console.log("Ticket_IdTicket modified " + Ticket_IdTicket);
            $("#IdEps").val(@ViewBag.EpsSelect);
            $("#IdProject").val(@ViewBag.ProjectSelect);
            $("#IdSolution").val(@ViewBag.SolutionSelect);
            $("#HasSqlScripts").prop('checked', @ViewBag.HasQuerysTicket == 0 ? false : true);

            let hasSqlScriptsCheck = $('#HasSqlScripts').is(':checked');
            showDivHasChecked(hasSqlScriptsCheck, 'divHasSQL');

            }
        }

        function controlerFields(pSelect, pFldName) {
            //console.log(pFldName + " / Disable = " + pSelect)
            document.getElementById(pFldName).disabled = pSelect;
        }

        function blockAllFields() {
            let Ticket_IdTicket = $("#Ticket_IdTicket").val();

            controlerFields(true, 'IdProject');
            controlerFields(true, 'Ticket_IdSolution');
            controlerFields(true, 'HasSqlScripts');

            if (parseInt(Ticket_IdTicket) > 0) {
                controlerFields(true, 'IdEps');
            }
            checkActivateQuerys();
        }

        function checkActivateQuerys() {

            var ticket_IdTicket = $('#Ticket_IdTicket').val();
            //console.log("checkActivateQuerys " + ticket_IdTicket);

            if (ticket_IdTicket > 0) {
              //  console.log("Ativando");
                controlerFields(false, 'HasSqlScripts');
            }
        }

        function showDivHasChecked(phasChecked, pdivName) {
            var stats = 'none';
            if (phasChecked == true) {
                stats = 'block';
            }
            document.getElementById(pdivName).style.display = stats;
        }

        function savePackage() {
            //console.log("Entrou em Savar Pacote");
            saveTicket();
        }

        /*Change Functions*/
        function saveTicket() {
            // console.log("entrou saveTicket");
            //$('#MsgSavePackage').html('');

            var Ticket = {};
            var mensage = "";


            var Ticket_IdTicket = $("#Ticket_IdTicket").val();
            var Ticket_DtRegister = $("#Ticket_DtRegister").val();
            var Ticket_IdStatus = $("#Ticket_IdStatus").val();
            var Ticket_IdSolution = $("#Ticket_IdSolution").val();
            var Ticket_TicketLink = $("#Ticket_TicketLink").val();
            var Ticket_NmTicket = $("#Ticket_NmTicket").val();
            //var Ticket_DeTicket = $("#Ticket_DeTicket").val();
            //var Ticket_DeNote = $("#Ticket_DeNote").val();
            //var Ticket_DeImpact = $("#Ticket_DeImpact").val();
            //var Ticket_DeRiskOfNotDoing = $("#Ticket_DeRiskOfNotDoing").val();
            //var Ticket_DeRiskOfDoing = $("#Ticket_DeRiskOfDoing").val();
            //var Ticket_DeContingency = $("#Ticket_DeContingency").val();
            //var Ticket_DePrerequisites = $("#Ticket_DePrerequisites").val();
            var Ticket_DeUnavailability = $("#Ticket_DeUnavailability").val();
            var Ticket_DeRuntime = $("#Ticket_DeRuntime").val();

            var IdEps = $("#IdEps").val();
            var IdProject = $("#IdProject").val();

            //console.log("Ticket_IdTicket: " + Ticket_IdTicket);
            //console.log("Ticket_DtRegister: " + Ticket_DtRegister);
            //console.log("Ticket_IdStatus: " + Ticket_IdStatus + " / Ticket_IdSolution: " + Ticket_IdSolution);
            //console.log("Ticket_TicketLink: " + Ticket_TicketLink + " / Ticket_NmTicket: " + Ticket_NmTicket);
            //console.log("Ticket_DeTicket: " + Ticket_DeTicket + " / Ticket_DeNote: " + Ticket_DeNote);
            //console.log("Ticket_DeImpact: " + Ticket_DeImpact + " / Ticket_DeRiskOfNotDoing: " + Ticket_DeRiskOfNotDoing);
            //console.log("Ticket_DeRiskOfDoing: " + Ticket_DeRiskOfDoing + " / Ticket_DeContingency: " + Ticket_DeContingency);
            //console.log("Ticket_DePrerequisites: " + Ticket_DePrerequisites + " / Ticket_DeUnavailability: " + Ticket_DeUnavailability);
            //console.log("Ticket_DeRuntime: " + Ticket_DeRuntime);

            if (IdEps == "") { mensage += "Eps, "; }
            if (IdProject == "") { mensage += "Projeto, "; }

            if (Ticket_IdStatus == "") { mensage += "Status, "; }
            //if (Ticket_DtRegister == "" || Ticket_DtRegister == undefined) { Ticket_DtRegister = /*"01/01/1900 00:00:01"*/; }
            if (Ticket_IdSolution == "" || Ticket_IdSolution == undefined) { mensage += "Solução, "; }
            if (Ticket_TicketLink == "") { mensage += "Link do Ticket, "; }
            if (Ticket_NmTicket == "") { mensage += "Nº do Ticket, "; }
            //if (Ticket_DeTicket == "") { mensage += "Descrição Roteiro, "; }
            //if (Ticket_DeNote == "") { mensage += "Observação, "; }
            //if (Ticket_DeImpact == "") { mensage += "Impactos, "; }
            //if (Ticket_DeRiskOfNotDoing == "") { mensage += "Risco de Não Fazer, "; }
            //if (Ticket_DeRiskOfDoing == "") { mensage += "Risco de Fazer, "; }
            //if (Ticket_DeContingency == "") { mensage += "Contingência, "; }
            //if (Ticket_DePrerequisites == "") { mensage += "Pré-Requisitos, "; }
            //if (Ticket_DeUnavailability == "") { mensage += "Indisponibilidades, "; }
            if (Ticket_DeRuntime == "" || Ticket_DeRuntime == "00:00:00") { mensage += "Tempo de Execução, "; }



            if (mensage != "") {
                console.log(mensage);
                return alert(mensage + ' não pode(m) ser vazio(s)!!');

            } else {
                Ticket = {
                    IdTicket: parseInt(Ticket_IdTicket),
                    DtRegister: Ticket_DtRegister,
                    TicketLink: Ticket_TicketLink,
                    NmTicket: Ticket_NmTicket,
                    IdSolution: parseInt(Ticket_IdSolution),
                    IdStatus: parseInt(Ticket_IdStatus),
                    DeTicket: Ticket_DeTicket,
                    DeNote: Ticket_DeNote,
                    DeImpact: Ticket_DeImpact,
                    DeRiskOfNotDoing: Ticket_DeRiskOfNotDoing,
                    DeRiskOfDoing: Ticket_DeRiskOfDoing,
                    DeContingency: Ticket_DeContingency,
                    DePrerequisites: Ticket_DePrerequisites,
                    DeUnavailability: Ticket_DeUnavailability,
                    DeRuntime: Ticket_DeRuntime,
                }


            }
            var ticket = JSON.stringify(Ticket);

            if (ticket.length > 0) {
                $.ajax({
                    url: "/Package/SaveTicket",
                    method: 'POST',
                    data: ticket,
                    dataType: "json",
                    cache: false,
                    contentType: 'application/json; charset=utf-8',
                    processData: false
                })
                    .done(function (msg) {

                        if (msg.status.includes("NOK")) {
                            let results = "Ocorreram erros ao buscar os registros!";
                            if (msg.mesage != undefined && msg.mesage != '') { results = msg.mesage; }

                            toast("Atenção", results, "error");
                            console.log(msg.error);
                            alert('Ocorreu um ERRO:' + msg.error);
                            
                        } else {
                            console.log("Ticket Sucesso Api");

                            if (msg.status != undefined && msg.status != '') {
                                $("#divIdTicket").html(msg.partialView);

                                checkActivateQuerys();
                               
                            }
                        }
                        console.log(msg.description);
                        mensage = msg.description;
                    })

                    .fail(function (jqXHR, textStatus, msg) {
                        console.log(`${textStatus} - ${msg} - ${jqXHR}`);
                        console.log(msg.description);
                        mensage = msg.description;
                    });

                alert(mensage);

            }


        }

        function saveQuerys() {
            //console.log("entrou saveQuerys");

            $('#ErrorSqlMensage').html('');

            var Query = {};
            var mensage = "";
            var filesLen = (files.length + 1);

            var QuerysList = [];
            var Ticket_IdTicket = $("#Ticket_IdTicket").val();

            for (var i = 1; i < filesLen; i++) {

                console.log("loop" + i);
                //MsgScript

                //console.log("Saving Querys");
                var _NmSqlObject = $("#NmSqlObject" + i).val(); //.get(0);
                var _IdSqlComandType = $("#IdSqlComandType" + i).val();
                var _IdSqlItenType = $("#IdSqlItenType" + i).val();
                var _NmFile = $("#NmFile" + i).val();
                var _IdDtbase = $("#IdDtbase" + i).val();


                //console.log("_IdDtbase:" + _IdDtbase + "_NmSqlObject: " + _NmSqlObject + " / _IdSqlComandType: " + _IdSqlComandType + "/ _IdSqlItenType: " + _IdSqlItenType + "/ _NmFile" + _NmFile);

                if (_NmSqlObject == "") { mensage = "Nome Objeto, "; } //retirar .value se .val() se .get(0) usar.
                if (_IdSqlComandType == "") { mensage += "Item Sql, "; }
                if (_IdSqlItenType == "") { mensage += "Comando Sql, "; }
                if (_NmFile.value == "") { mensage += "Arquivo Sql, "; }
                if (_IdDtbase == "") { mensage += "Database, "; }

                if (mensage != "") {
                    // console.log(mensage + i)
                    return $('#ErrorSqlMensage').html('<b style="color:darkred">** ' + mensage + ' não pode(m) ser vazio(s)!!</b>');

                } else {
                    Query = {
                        IdQuery: 0,
                        IdTicket: parseInt(Ticket_IdTicket),
                        IdDtBase: parseInt(_IdDtbase),
                        IsActive: true,
                        NmSqlObject: _NmSqlObject,
                        IdSqlItenType: parseInt(_IdSqlItenType),
                        IdSqlComandType: parseInt(_IdSqlComandType),
                        NmFile: _NmFile,
                    }

                    QuerysList.push(Query);
                }
            }

            var querys = JSON.stringify(QuerysList);
            //console.log(_restore);

            if (querys.length > 0) {
                $.ajax({
                    url: "/Package/InsertAndReturnPartialQuerys",
                    method: 'POST',
                    data: querys,
                    dataType: "json",
                    cache: false,
                    contentType: 'application/json; charset=utf-8',
                    processData: false
                })
                    .done(function (msg) {

                        if (msg.status.includes("NOK")) {
                            let results = "Ocorreram erros ao buscar os registros!";
                            if (msg.mesage != undefined && msg.mesage != '') { results = msg.mesage; }

                            toast("Atenção", results, "error");
                            console.log(msg.error);
                        } else {
                            if (msg.partialView != undefined && msg.partialView != '') {
                                $("#divGetQuerysList").html(msg.partialView);
                            }
                        }
                    })

                    .fail(function (jqXHR, textStatus, msg) {
                        console.log(`${textStatus} - ${msg} - ${jqXHR}`);
                    });

                mensage = msg.description;
                alert(mensage);
            }

        }

        function getQuerys() {
            // console.log("entrou");
            var fileUpload = $("#File").get(0);
            files = fileUpload.files;

            var Ticket_IdTicket = $("#Ticket_IdTicket").val();
            var data = new FormData();

            for (var i = 0; i < files.length; i++) {
                // fileUpload.files[i].name = idSolution + "|" + fileUpload.files[i].name;

                data.append("File", files[i]);
                data.append("Name", files[i].name);

            }
            //console.log("enviou");

            $.ajax({
                url: "/Package/UploadQuerys?idTicket=" + Ticket_IdTicket,
                method: 'post',
                data: data,
                cache: false,
                contentType: false,
                processData: false
            }).done(function (msg) {
                if (msg.status.includes("nok")) {
                    let results = "Ocorreram erros ao buscar os registros!";

                    if (msg.mesage != undefined && msg.mesage != '') {
                        results = msg.mesage;
                    }

                    toast("Atenção", results, "error");
                    console.log(msg.error);
                } else {

                    if (msg.partialView != undefined && msg.partialView != '') {
                        $("#divGetQuerys").html(msg.partialView);
                    }
                }
            })
                .fail(function (jqXHR, textStatus, msg) {
                    console.log(`${textStatus} - ${msg} - ${jqXHR}`);
                });

        }

        function getProjectsByEps(pIdEps) {
            var pIdProject;
            $.ajax({
                async: true,
                "url": "/Package/GetProjectsByEps",
                "type": "GET",
                data: { pIdEps: pIdEps },
            })
                .done(function (msg) {
                    if (msg.status.includes("nok")) {
                        let results = "Ocorreram erros ao buscar os registros!";

                        if (msg.mesage != undefined && msg.mesage != '') {
                            results = msg.mesage;
                        }

                        toast("Atenção", results, "error");
                        console.log(msg.error);
                    } else {
                        if (msg.partialView != undefined && msg.partialView != '') {
                            $("#divGetProjectsByEps").html(msg.partialView);

                            if (pIdProject != "" && pIdProject != undefined) {
                                $("#pIdProject").val(pIdProject);
                            }
                        }
                    }
                })
                .fail(function (jqXHR, textStatus, msg) {
                    console.log(`${textStatus} - ${msg} - ${jqXHR}`);
                });

        }

        function getSolutionsByProject(pIdProject) {
            var pIdSolution;
            $.ajax({
                async: true,
                "url": "/Package/GetSolutionsByProject",
                "type": "GET",
                data: { pIdProject: pIdProject },
            })
                .done(function (msg) {
                    if (msg.status.includes("nok")) {
                        let results = "Ocorreram erros ao buscar os registros!";

                        if (msg.mesage != undefined && msg.mesage != '') {
                            results = msg.mesage;
                        }

                        toast("Atenção", results, "error");
                        console.log(msg.error);
                    } else {
                        if (msg.partialView != undefined && msg.partialView != '') {
                            $("#divGetSolutionsByProject").html(msg.partialView);

                            if (pIdSolution != "" && pIdSolution != undefined) {
                                $("#pIdSolution").val(pIdSolution);
                            }
                        }
                    }
                })
                .fail(function (jqXHR, textStatus, msg) {
                    console.log(`${textStatus} - ${msg} - ${jqXHR}`);
                });

        }

                                    //function getDatabasesBySolution(pIdSolution) {
                                    //    var pIdDtbase;
                                    //    $.ajax({
                                    //        async: true,
                                    //        "url": "/Package/GetDatabasesBySolution",
                                    //        "type": "GET",
                                    //        data: { pIdSolution: pIdSolution },
                                    //    })
                                    //        .done(function (msg) {
                                    //            if (msg.status.includes("nok")) {
                                    //                let results = "Ocorreram erros ao buscar os registros!";

                                    //                if (msg.mesage != undefined && msg.mesage != '') {
                                    //                    results = msg.mesage;
                                    //                }

                                    //                toast("Atenção", results, "error");
                                    //                console.log(msg.error);
                                    //            } else {
                                    //                if (msg.partialView != undefined && msg.partialView != '') {
                                    //                    $("#divGetDatabasesBySolution").html(msg.partialView);

                                    //                    if (pIdDtbase != "" && pIdDtbase != undefined) {
                                    //                        $("#pIdDtbase").val(pIdDtbase);
                                    //                    }
                                    //                }
                                    //            }
                                    //        })
                                    //        .fail(function (jqXHR, textStatus, msg) {
                                    //            console.log(`${textStatus} - ${msg} - ${jqXHR}`);
                                    //        });
                                    //}

                                    //function getDatabasesBySolution_v2(pIdSolution) {
                                    //    var pIdDtbase;
                                    //    $.ajax({
                                    //        async: true,
                                    //        "url": "/Package/GetDatabasesBySolution_v2",
                                    //        "type": "GET",
                                    //        data: { pIdSolution: pIdSolution },
                                    //    })
                                    //        .done(function (msg) {
                                    //            if (msg.status.includes("nok")) {
                                    //                let results = "Ocorreram erros ao buscar os registros!";

                                    //                if (msg.mesage != undefined && msg.mesage != '') {
                                    //                    results = msg.mesage;
                                    //                }

                                    //                toast("Atenção", results, "error");
                                    //                console.log(msg.error);
                                    //            } else {
                                    //                if (msg.partialView != undefined && msg.partialView != '') {
                                    //                    // $("#divGetDatabasesBySolution").html(msg.partialView);

                                    //                    if (pIdDtbase != "" && pIdDtbase != undefined) {
                                    //                        $("#pIdDtbase").val(pIdDtbase);
                                    //                    }
                                    //                }
                                    //            }
                                    //        })
                                    //        .fail(function (jqXHR, textStatus, msg) {
                                    //            console.log(`${textStatus} - ${msg} - ${jqXHR}`);
                                    //        });
                                    //}

    </script>

}


