@model IEnumerable<Packer_v2.Models.WayType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Folder.NmFolder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NmProject)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Folder.NmFolder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NmProject)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdWayType }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdWayType }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdWayType })
        </td>
    </tr>
}

</table>
