@model Packer_v2.Models.DbSolution

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DbSolution</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dtbase.FullNmDatabase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dtbase.FullNmDatabase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solution.FullNmSolution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solution.FullNmSolution)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdDbSolution }) |
    @Html.ActionLink("Back to List", "Index")
</p>
